{% extends "base_layout.html" %} {% set active_page = "file_page" %} {% block
title %} Trang tập tin {% endblock %} {% block body %}
<div class="container">
	<form
		id="upload"
		method="POST"
		class="form-files"
		enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		<div class="custom-file">
			{{ form.file.label(class="font-weight-bold") }} {{
			form.file(class='form-control-file') }}
			<!-- {{ form.file.label(class="custom-file-label") }} 
      {{ form.file(class="custom-file-input") }}  -->
			<br />
		</div>

		{{ form.select.label(class="font-weight-bold") }} {% for subselect in
		form.select %}
		<div class="form-check mb-2">
			{{ subselect() }} {{ subselect.label(class='form-check-label ml-1') }}
			<!-- {% if loop.index == 1 %}
          {{ subselect(checked=checked) }}
        {%  else %}
          {{ subselect() }}
        {% endif %} -->
		</div>
		{% endfor %}
		<div
			class="ml-2 knn"
			style="display: none">
			<label for="knn">Số lượng láng giềng gần:</label>
			<input
				type="number"
				name="knn"
				id="knn"
				class="form-control form-control-sm col-md-4"
				placeholder="30" />
		</div>
		{{ form.type.label(class="font-weight-bold") }} {% for subtype in form.type
		%}
		<div class="form-check mb-2">
			{% if loop.last %}
			<span class="form-check-inline">
				{{ subtype() }} {{ subtype.label(class='form-check-label ml-2') }}
				<div class="ml-2">
					<input
						type="text"
						name="other"
						id="other"
						class="form-control form-control-sm"
						style="display: none; height: calc(1.5em + 0.2rem)" />
				</div>
			</span>
			{% else %} {{ subtype() }} {{ subtype.label(class='form-check-label ml-1')
			}} {% endif %}
			<!-- {% if loop.index == 1 %}
          {{ subtype(checked=checked) }}
				{%  else %}
          {{ subtype() }}
        {% endif %} -->

			<!-- {% if loop.last %}
					<span class="form-check-inline">
						{{ subtype.label(class='form-check-label') }} 
						<div class="ml-2">
							<input type="text" name="other" id="other" class="form-control" style="display: none;">
						</div>
					</span>
				{%  else %}
				{{ subtype.label(class='form-check-label') }} 
        {% endif %} -->
		</div>
		{% endfor %} {{ form.amount.label(class="font-weight-bold") }} {{
		form.amount(class='form-control form-control-sm col-md-4', placeholder='5')
		}}
		<br />
		{{ form.submit(id='btn-submit', class='btn btn-lg btn-block btn-primary') }}
	</form>
	<br />
	<div
		id="loader"
		style="display: none">
		<img
			src="{{url_for('static', filename='image/loading.gif')}}"
			width="100" />
		<b>Xin vui lòng chờ trong giây lát...</b>
	</div>
	<a
		class="btn btn-link"
		href="{{url_for('download_sample')}}"
		role="button"
		>Tải về tệp dữ liệu mẫu</a
	>
	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Tên</th>
				<!-- <th scope="col">Description</th> -->
				<th scope="col">Loại dữ liệu</th>
				<th scope="col">Số lượng gợi ý tối đa</th>

				<th scope="col">Thao tác</th>
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
			<tr>
				<th scope="row">{{loop.index}}</th>
				<td>{{file.name}}</td>
				<td>
					{% for type in types %} {% if type.id == file.type_id %} {{type.name}}
					{% if type.name == "Khác" %} {{" - "+ file.other}} {% endif %} {%
					endif %} {% endfor %}
				</td>
				<td>{{file.amount}}</td>
				<td>
					<!-- <a class="btn btn-warning" href="{{url_for('download', id=file.id)}}" role="button">Tải về</a> -->
					<a
						class="btn btn-info"
						href="{{url_for('result_page', id=file.id)}}"
						role="button"
						>Xem kết quả</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<script src="{{url_for('static', filename='js/disable-btn-submit.js')}}"></script>
<script src="{{url_for('static', filename='js/loading.js')}}"></script>
<script src="{{url_for('static', filename='js/file-page.js')}}"></script>

{% endblock %}
